[submodule "httpserver"]
	path = httpserver
	url = git@github.com:pylover/esp8266-httpserver.git
[submodule "uns"]
	path = uns
	url = https://github.com/pylover/esp8266-unslib.git
[submodule "httpd"]
	path = httpd
	url = https://github.com/pylover/esp8266-httpserver.git
[submodule "http"]
	path = http
	url = https://github.com/pylover/esp8266-httpclient.git
